asgiref>=3.10.0, <4.0  # needed by django
Django>=5.2.7, <6.0
django-cors-headers>=4.9.0, <5.0
djangorestframework>=3.16.1, <4.0
djangorestframework_simplejwt>=5.5.1, <6.0
drf-yasg>=1.21.11, <2.0  # for swagger api documentation
gunicorn>=23.0.0, <24.0  # render server
inflection>=0.5.1, <1.0
packaging>=25.0, <26.0
PyJWT>=2.10.1, <3.0.0 
pyotp>=2.9.0, <3.0.0
python-dotenv>=1.1.1, <2.0
pytz==2025.2  # not needed
PyYAML>=6.0.3, <7.0
sqlparse>=0.5.3, <1.0 # for sql
tzdata==2025.2  #time zone data 
uritemplate>=4.2.0, <5.0 # used for drf-yasg
#for image handling
pillow>=11.3.0,<11.4 
#postgres adaptor
psycopg2>=2.9.11,<3.0
# static file serving
whitenoise==6.11.0
# Email 
sendgrid>=6.12.5, <7.0